.panda-bg-info{
    background-color: #fceae8;
}
.catagories img{
    width: 100px;
}
.panda-btn-bye-now{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
}
.panda-bg-catagories-1{
    background-color: #ffa500;
}
.panda-bg-catagories-2{
    background-color: #da70d6;
}
.panda-bg-catagories-3{
    background-color: #0000ff;
}